---
import { HERO, STATE_EMOJI } from "@/constants";
import { HIDE_SEED_IN_PROD } from "@/constants";
import Prose from "@/layouts/Prose.astro";
import RootLayout from "@/layouts/RootLayout.astro";
import { getCollection, render } from "astro:content";
import { Icon } from "astro-icon/components";

const isProd = import.meta.env.PROD;
const posts = (await getCollection("blog"))
	.filter((e) => (isProd && HIDE_SEED_IN_PROD ? e.data.growth !== "seed" : true))
	.sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
	.slice(0, 5);

const { Content: Corrections } = await render(
	// biome-ignore lint/style/noNonNullAssertion: it exists
	(await getCollection("home")).find((e) => e.id === "corrections")!
);
---

<RootLayout path="/">
	<Prose>
		<a href="/" class="underline-offset-4 decoration-4">
			<h1>{HERO.title}</h1>
		</a>
		{
			typeof HERO.description === "string" ? (
				<p>{HERO.description}</p>
			) : (
				HERO.description.map((line) => <p>{line}</p>)
			)
		}
		<h2>Latest plants</h2>
		{
			posts.length > 0 ? (
				<ul>
					{posts.map((post) => (
						<li>
							<div>
								<h3 class="flex items-center gap-2 md:gap-4">
									<a
										href={`/posts/${post.id}`}
										data-astro-prefetch
										class="underline-offset-2 decoration-2 max-w-[70%] w-fit"
									>
										{post.data.title.trim()}
									</a>{" "}
									<div class="flex-grow" />{" "}
									<div class="flex-wrap flex items-center justify-center gap-y-2 gap-x-4">
										<span class="text-sm text-muted-foreground">
											{post.data.date.toLocaleDateString() ||
												post.data.date.toLocaleDateString()}
										</span>{" "}
										<a
											href={`/growths/${post.data.growth}`}
											class="bg-accent text-accent-foreground px-2 py-1 rounded-md text-sm w-fit font-bold no-underline"
										>
											{STATE_EMOJI[post.data.growth]}
										</a>
									</div>
								</h3>

								<p>{post.data.description}</p>
							</div>
						</li>
					))}
				</ul>
			) : (
				<p>No posts yet. Check back later!</p>
			)
		}

		<div class="flex gap-4 sm:gap-6 items-center justify-center mt-8 md:mt-12">
			<a href="/rss.xml" class="no-underline">
				<div
					class="bg-accent px-3 py-1 md:py-2 h-fit hover:bg-primary/90 transition-colors duration-200 group"
				>
					<div class="flex gap-2 sm:gap-3 items-center justify-center">
						<p
							class="text-muted-foreground group-hover:text-primary-foreground transition-colors duration-200 p-0 !m-0 text-sm sm:text-base"
							style="margin: 0 !important;"
						>
							Subscribe to the feed
						</p>
						<Icon
							name="octicon:rss-16"
							class="h-[1.2rem] w-[1.2rem] text-[--tw-prose-links] group-hover:text-primary-foreground transition-colors duration-200"
						/>
					</div>
				</div>
			</a>
			<a href="/posts" class="no-underline">
				<div
					class="bg-accent px-3 py-1 md:py-2 h-fit hover:bg-primary/90 transition-colors duration-200 group"
				>
					<div class="flex gap-2 sm:gap-3 items-center justify-center">
						<p
							class="text-muted-foreground group-hover:text-primary-foreground transition-colors duration-200 p-0 !m-0 text-sm sm:text-base"
							style="margin: 0 !important;"
						>
							View all posts
						</p>
						<Icon
							name="octicon:arrow-right-16"
							class="h-[1.2rem] w-[1.2rem] text-[--link] group-hover:text-primary-foreground transition-colors duration-200"
						/>
					</div>
				</div>
			</a>
		</div>

		<Corrections />

		<footer class="py-2 text-center">
			<p class="text-xs">
				No rights reserved. Do whatever you want {" - "}
				{new Date().getFullYear()}{" "}
				<a href="https://cstef.dev" class="underline-offset-2 decoration-2"> cstef</a>
				|
				<a
					href="https://github.com/cestef/blog.cstef.dev"
					class="underline-offset-2 decoration-2"
				>
					source
				</a>
			</p>
		</footer>
	</Prose>
</RootLayout>

<script is:inline>
	function main() {
		const konamiCode = [
			"ArrowUp",
			"ArrowUp",
			"ArrowDown",
			"ArrowDown",
			"ArrowLeft",
			"ArrowRight",
			"ArrowLeft",
			"ArrowRight",
			"b",
			"a",
		];
		let konamiIndex = 0;

		document.addEventListener("keydown", (e) => {
			if (e.key === konamiCode[konamiIndex]) {
				konamiIndex++;
				if (konamiIndex === konamiCode.length) {
					rickroll();
					konamiIndex = 0;
				}
			} else {
				konamiIndex = 0;
			}
		});

		function rickroll() {
			window.open("https://www.youtube.com/watch?v=dQw4w9WgXcQ", "_blank");
		}
	}

	main();
</script>
