---
import { HERO, STATE_EMOJI } from "@/constants";
import { HIDE_SEED_IN_PROD } from "@/constants";
import Prose from "@/layouts/Prose.astro";
import RootLayout from "@/layouts/RootLayout.astro";
import { getCollection, render } from "astro:content";
import { Icon } from "astro-icon/components";

const isProd = import.meta.env.PROD;
const posts = (await getCollection("blog"))
	.filter((e) => (isProd && HIDE_SEED_IN_PROD ? e.data.growth !== "seed" : true))
	.sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
	.slice(0, 5);

const { Content: Corrections } = await render(
	// biome-ignore lint/style/noNonNullAssertion: it exists
	(await getCollection("home")).find((e) => e.id === "corrections")!
);
---

<RootLayout path="/">
	<Prose>
		<a href="/" class="underline-offset-4 decoration-4">
			<h1>{HERO.title}</h1>
		</a>
		{
			typeof HERO.description === "string" ? (
				<p>{HERO.description}</p>
			) : (
				HERO.description.map((line) => <p>{line}</p>)
			)
		}
		<h2>Latest plants</h2>
		{
			posts.length > 0 ? (
				<ul>
					{posts.map((post) => (
						<li>
							<div>
								<h3 class="flex items-center gap-2 md:gap-4">
									<a
										href={`/posts/${post.id}`}
										data-astro-prefetch
										class="underline-offset-2 decoration-2 max-w-[70%] w-fit"
									>
										{post.data.title.trim()}
									</a>{" "}
									<div class="flex-grow" />{" "}
									<div class="flex-wrap flex items-center justify-center gap-y-2 gap-x-4">
										<span class="text-sm text-muted-foreground">
											{post.data.date.toLocaleDateString() ||
												post.data.date.toLocaleDateString()}
										</span>{" "}
										<a
											href={`/growths/${post.data.growth}`}
											class="bg-accent text-accent-foreground px-2 py-1 rounded-md text-sm w-fit font-bold no-underline"
										>
											{STATE_EMOJI[post.data.growth]}
										</a>
									</div>
								</h3>

								<p>{post.data.description}</p>
							</div>
						</li>
					))}
				</ul>
			) : (
				<p>No posts yet. Check back later!</p>
			)
		}

		<a
			href="/posts"
			class="decoration-2 underline-offset-2 hover:decoration-2/30 transition-all duration-200"
		>
			<div class="flex gap-2 items-center justify-center">
				<p class="text-muted-foreground">View all posts</p>
				<Icon name="octicon:arrow-right-16" class="h-[1.2rem] w-[1.2rem] text-[--link]" />
			</div>
		</a>

		<Corrections />

		<a
			href="/rss.xml"
			class="decoration-muted decoration-2 underline-offset-2 hover:decoration-muted-foreground/30 transition-all duration-200"
		>
			<div class="flex gap-2 items-center justify-center">
				<p class="text-muted-foreground">Subscribe to the feed</p>
				<Icon name="octicon:rss-16" class="h-[1.2rem] w-[1.2rem] text-[--link]" />
			</div>
		</a>
	</Prose>
</RootLayout>

<script is:inline>
	const konamiCode = [
		"ArrowUp",
		"ArrowUp",
		"ArrowDown",
		"ArrowDown",
		"ArrowLeft",
		"ArrowRight",
		"ArrowLeft",
		"ArrowRight",
		"b",
		"a",
	];
	let konamiIndex = 0;

	document.addEventListener("keydown", (e) => {
		if (e.key === konamiCode[konamiIndex]) {
			konamiIndex++;
			if (konamiIndex === konamiCode.length) {
				rickroll();
				konamiIndex = 0;
			}
		} else {
			konamiIndex = 0;
		}
	});

	function rickroll() {
		window.open("https://www.youtube.com/watch?v=dQw4w9WgXcQ", "_blank");
	}
</script>
